/* http://meyerweb.com/eric/tools/css/reset/ v2.0b1 | 201101 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } /* remember to define visible focus styles!  :focus { outline: ?????; } */ /* remember to highlight inserts somehow! */ ins { text-decoration: none; } del { text-decoration: line-through; } table { border-collapse: collapse; border-spacing: 0; }

@font-face {
    font-family: IBM;
    src: url('../font/PxPlus_IBM_CGA.ttf');
}

@keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes pulse-again {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes ascend {
	0% { opacity: 1; transform: translate(0, 0); }
	100% { opacity: 0; transform: translate(0, -5rem); }
}

@keyframes table-mv {
	0% { transform: rotateX(30deg); }
	100% { transform: rotateX(70deg); }
}

html {
	font-size: 10px;
}

body {
	background: #eee;
}

body * {
	font-family: IBM;
}

body > h1 {
	font-size: 2.4rem;
	color: #000;
	text-align: center;
	margin-top: 1.2rem;
}

.hidden {
	display: none!important;
}

#table.empty * {
	display: none;
}

.screen {
	position: absolute;
	left: 0;
	top: 0;
	min-width: 100vw;
	min-height: 100vh;
	background: #29464baa;
}

.narrative {
	width: 70vw;
	min-width: 50rem;
	margin-top: 8rem;
	margin-left: auto;
	margin-right: auto;
	font-size: 2.4rem;
	color: #aaa;
	line-height: 2.6rem;
	/*text-decoration: italic;*/
	text-shadow: 2px 2px 4px #000;
}

.screen h1 {
	font-size: 4.8rem;
	text-align: center;
	color: #fff;
	margin-top: 7rem;
}

.narrative p {
	margin-top: 2.6rem;
}

.narrative i {
	color: #fff;
}

#start-btn {
	margin-top: 5rem;
	display: block;
	text-align: center;
	color: #fff;
	font-size: 2.4rem;
	cursor: pointer;
}

#start-btn:hover {
	text-shadow: 3px 3px 2px #aaa;
}

#bob-img {
	display: block;
	margin: -5rem auto;
	width: 50rem;
}

#logo {
	position: static;
	margin-top: 1rem;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}

#wrapper {
	min-width: 100vw;
	min-height: 100vh;
	width: 100vw;
	height: 100vh;
	background: #365c7e;
	perspective: 300px;
	overflow: hidden;
}

#table {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	min-width: 1180px;
	min-height: 620px;
	background-color: #66e;
	background-image: url("../img/table_tile.png");
	background-size: 256px;
	background-repeat: repeat;
	transform-style: preserve-3d;
	transform: rotateX(30deg);
	transition: transform 1s;
}

#table.move {
	transform: rotateX(70deg);
}

.ascend { animation: ascend 1s ease-out 1; }
.pulse { animation: pulse 0.75s ease-out 3; }
.pulse-again { animation: pulse-again 0.75s ease-out 3; }
.id .img:first-child {
	box-shadow: 0px 0px 6px #fff;
}
.id:hover .img:first-child {
	box-shadow: 0px 0px 14px #fff;
}

.card, .shadow {
	position: absolute;
}

.card > .img, .shadow > .img {
	position: absolute;
	top: 0;
	left: 0;
}

#hand .img:first-child {
	box-shadow: 2px 2px 14px #000;
}

#hand .card:hover .img:first-child {
	box-shadow: 2px 2px 14px #fff;
}

.card img, .shadow img{
	width: 100px;
}

.small img {
	width: 75px !important;
}

.pile {
	opacity: 0.5;
}

#hand {
	width: 90vw;
	height: 20rem;
	position: absolute;
	bottom: 0;
	left: 2rem;;
}

#hand .card img {
	width: 125px
}

#preview {
	position: absolute;
	top: 4rem;
	right: 31rem;
	pointer-events: none;
}

#preview img {
	position: absolute;
	width: 275px;
}

.desc {
	padding: 1rem;
	font-size: 1.2rem;
	line-height: 1.4rem;
	position: absolute;
	top: 24.3rem;
	left: 2rem;
	width: 21.5rem;
	min-width: 21.5rem;
	height: 8.3rem;
	min-height: 8.3rem;
	background: #29464baa;
	color: #fff;
	text-shadow: 2px 2px 4px #000;
}

#pass-div {
	position: absolute;
	bottom: 22rem;
	left: 2rem;
}

#pass-div > span {
	font-size: 2.4rem;
	color: #eff;
	text-decoration: none;
	cursor: pointer;
}

#pass-div > span:hover {
	text-shadow: 2px 2px 14px #aaa;
}

#hand .pow, #hand .hp {
	position: absolute;
	top: 14.5rem;
	color: #fff;
}
#hand .pow { left: 1rem; }
#hand .hp { left: 10.6rem; }

#table .pow, #table .hp {
	position: absolute;
	top: 11.5rem;
	color: #fff;
}
#table .pow { left: 0.8rem; }
#table .hp { left: 8.5rem; }

.card-head {
	position: absolute;
	left: 1rem;
	color: #fff;
}
#hand .card-head { top: 0.3rem; }
#table .card-head { top: 0; }

.dark {
	color: #01799e;
}

#preview .card-head {
	top: 0.6rem;
	font-size: 2rem;
}

#preview .pow, #preview .hp{
	position: absolute;
	top: 32rem;
	font-size: 3rem;
	color: #fff;
}

#preview .pow { left: 1.7rem; }
#preview .hp { left: 23rem; }

#drops {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
}

.drop {
	position: absolute;
	color: #fff;
	font-size: 2rem;
	line-height: 3rem;
	top: 10rem;
	text-shadow: 2px 2px #333;
	opacity: 0;
}
.drop[data-player="0"] {
	left: 12rem;
	top: 6rem;
}
.drop[data-player="1"] {
	right: 12rem;
	top: 6rem;
}
.drop img {
	width: 3rem;
	vertical-align: text-bottom;
}

.shell {
	position: absolute;
	top: 0;
	background-image: url(../img/shell.png);
	background-size: 10rem;
	min-width: 10rem;
	min-height: 10rem;
	width: 10rem;
	height: 10rem;
	line-height: 10rem;
	text-align: center;
	font-size: 3.8rem;
	overflow: hidden;
	color: #fff;
	pointer-events: none;
}

#p1-shell, #you {
	left: 0;	
	text-shadow: -1px -1px 0 #f00, 1px -1px 0 #f00, -1px 1px 0 #f00, 1px 1px 0 #f00;
}
#p1-shell.current, #you.current {
	text-shadow: -2px -2px 0 #f00, 2px -2px 0 #f00, -2px 2px 0 #f00, 2px 2px 0 #f00, 0 0 10px #f00;
}

#p2-shell, #bob {
	right: 0;
	text-shadow: -1px -1px 0 #00f, 1px -1px 0 #00f, -1px 1px 0 #00f, 1px 1px 0 #00f;
}
#p2-shell.current, #bob.current {
	text-shadow: -2px -2px 0 #00f, 2px -2px 0 #00f, -2px 2px 0 #00f, 2px 2px 0 #00f, 0 0 5px #00f;
}

#you, #bob {
	position: absolute;
	top: 9rem;
	text-align: center;
	font-size: 2.8rem;
	color: #fff;
	pointer-events: none;
	width: 10rem;
}

.card .hold {
	top: -16px!important;
}
